/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 html {
   margin: 0px;
   height: 100%;
   width: 100%;
   font-size: calc(1em + 1vw);
}
 .header {
  padding: 40px;
  padding-bottom: 0;
  text-align: center;
  background-image:url("restaurant.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  font-size: 30px;
}

   p {
   padding: 25px;
   padding-top: 0;
  text-align: left;
   font-size: 25px;
  }

  .display {

    font-family: 'Allan';
    padding: 60px;
    background-image:url("restaurant.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    font-weight: bold;
  }
  
  .msg {
  padding: 30px;
  text-align: left;
  font-size: 25px;
  
  }
  
  table {
  width: 100%;
  
  }
  
  table tr.odd {
  
     background-color: white;
  }
  
  table tr.even {
     background-color: AliceBlue;
  }
  
  #container {
  margin: 0 auto;
  
  text-align: center;
  
  }
  
  textarea {
    width: 300px;
    height: 300px;
  
  }
  
  .field_with_errors {
     text-align: center
     
   }
